[push]
    default = simple
[user]
    name = Eugene Yarkov
    email = eya@exante.eu
[core]
    editor = /usr/bin/vim
[merge]
    log = true
[alias]
    l = log --pretty=format:\"%h %ad | %s%Cgreen%d%Creset [%an]\" --graph --date=short --decorate --tags
    co = checkout
    cob = checkout -b
